@use '../../variables' as v;

.dashboard{
  color: white;
  .stats{
    margin-bottom: 1.5rem;
    .stat-box{
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 1.5rem 2rem;
      background-color: v.$background-color-2;
      border-radius: .3rem;
      &:not(:last-child){
        margin-right: 1.5rem;
      }
      .stat-icon{
        color: v.$main-color;
        font-size: 3rem;
      }
      .stat-info{
        font-weight: bold;
        .stat-name{
          color: v.$text-color;
          margin: 0 0 0.5rem;
        }
        .stat-value{
          margin: 0;
        }
      }
    }
  }
  .charts{
    margin-bottom: 1.5rem;
    .chart-box{
      background-color: v.$background-color-2;
      padding: 1rem 1.5rem;
      border-radius: .3rem;
      &:first-child{
        margin-right: 1.5rem;
      }
      .chart-name{
        font-weight: bold;
        margin-bottom: 2.5rem;
      }
      .chart{
        margin-left: -1rem;
      }
    }
    
  }
  .table{
    background-color: v.$background-color-2;
    padding: 1rem 1.5rem;
    border-radius: .3rem;
    table{
      width: 100%;
      thead{
        td{
          color: white;
          font-weight: bold;
          padding: 0.3rem 0.5rem;
          text-align: start;
        }
        
      }
      td{
        padding: 0.3rem 0.5rem;
        color: v.$text-color;
      }
    }
  }
}