@use '../../variables' as v;
.widgets-row{
  margin-bottom: 1.5rem;
  .widget{
    background-color: v.$background-color-2;
    padding: 1rem 1.5rem;
    border-radius: .3rem;
    &:not(:last-child){
      margin-right: 1.5rem;
    }
    
  }
}