*{
  box-sizing: border-box;
  margin: 0 ;
  padding: 0;
}
ul{
  list-style: none;
  padding: 0;
}
a{
  text-decoration: none;
}
 .App{
  background-color: black;
 }
 .page-content{
  margin-left: 239.23px;
  transition-duration: 1s;
 }

 @font-face{
  font-family: 'Open Sans';
  src: url('./assets/fonts/OpenSans-Regular.ttf');
 }
 @font-face{
  font-family: 'Open Sans Bold';
  src: url('./assets/fonts/OpenSans-Bold.ttf');
 }